@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --accent-color: #006a61;
  --font-heading: var(--font-figtree);
  --radius: 0.25rem;
}

@layer base {
  :root {
    --background: white;
    --foreground: #09090b;
    --radius: 0.25rem;
  }

  .dark {
    --background: #09090b;
    --foreground: #fafafa;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}
